body{display:flex;flex-direction:column;justify-content: center; align-items: center;background-color:rgb(232, 181, 211);color: rgb(124, 37, 89);}
.todos{background-color:rgb(124, 37, 89);color:white ; border-radius: 5px ; padding:10px;margin:10px;}
